# files
.project
.classpath
.pmd
.ruleset
.settings
*.iml

# directories
.settings
.idea
target
reports

# files
*.old

# too big
src/test/resources/sirc-17804_9075_14209_201612_L_M_20170104_171522721.csv